@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
}

<div id="homeDiv" class="text-center align-middle">
    <div id="titleDiv" class="col-6">
        <h1 id="title" class="display-2">Evan A//en</h1>
        <div id="contactDiv">
            <a href="https://github.com/evanallen13" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github-square fa-4x" style="color:#ef5939" title="github.com/evanallen13"></i>
            </a>
            <a href="tel:7142642562" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-phone-square-alt fa-4x" style="color:#ef5939" title="(714)264-2562"></i>
            </a>
            <a href="mailto:evanallen13@gmail.com" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-envelope-square fa-4x" style="color:#ef5939" title="evanallen13@gmail.com"></i>
            </a>
            <a href="https://www.linkedin.com/in/evanallen13/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin fa-4x" style="color:#ef5939" title="www.linkedin.com/in/evanallen13/"></i>
            </a>
        </div>
    </div>
    <div class="col-6">

    </div>

</div>