

#contactFormDiv {
    width: 99vw;
    height: 65vh;
    background-color: #f0f0f0;
    background-image: url("https://evanallen13storage.blob.core.windows.net/background/download.jfif");
    background-size: 100vw 100vh;
}

    #contactFormDiv h1 {
        margin-left: 35vw;
    }

    #contactFormDiv form {
        width: 30vw;
        margin-right: 35vw;
        margin-left: 35vw;
    }

      
